{% load static %}		  
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
	<title>Index page</title>
</head>

<body>
{% if latest_question_list %}
	<ul>
	{% for question in latest_question_list %}
	<li><a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No polls are available.</p>
{% endif %}

</body>
<!-- #Note: To make the tutorial shorter, all template examples (such as this one) use incomplete HTML. In your own projects you should use complete HTML documents. -->
</html>
